@media screen and (max-width:950px) {
    .movie-contain {
        flex-direction: column;
    }

    .movie-poster img{
        width: 100%;
        height: fit-content;
        margin-right: 0;
    }

    .movie-info{
        padding-inline: 30px;
    }
}

@media screen and (max-width:630px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .search-bar {
        margin-top: 12px;
    }
}